.container
  .row
    .col-md-12

      %h1.text-center Developer Jobs

      %table.table
        %thead
          %tr
            %th
            %th
            %th

        %tbody
          - @jobs.each do |job|
            %tr
              %td= link_to job.title, job_path(job)
              %td= job.company_name
              %td.text-right= job.created_at.strftime("%b %e")
              / %td= link_to 'Show', job
              / %td= link_to 'Edit', edit_job_path(job)
              / %td= link_to 'Destroy', job, :method => :delete, :data => { :confirm => 'Are you sure?' }

