= render 'payments/march_madness'

.container
  .row
    .col-md-12
      %h1
        STEP 1 - CREATE YOUR AD

= render 'form'

.container
  .row
    .col-md-12
      
      = link_to 'Back', jobs_path