.container
  .row
    .col-md-12
      %h1 Get nofitifed

      %br

      .alert.alert-info
        Sorry! Notifications are in development. Come back soon and we should have them up!

      %br

      %p= link_to "<<< Back to all Jobs", root_path

      / = render 'form'

