.container
  .row
    .col-md-5
      %br

      %h1 Employers

      %p Job ads are FREE and are posted for 30 days.

      %p Job ads should be oriented toward computer programmers, developers and engineers, can be either full- or part-time and most importantly, should be virtual/remote jobs.

      %br
      %p= button_to "Post a Job FREE!", new_job_path, method: :get, class: 'pop btn'

      %br
      %p= link_to "<< Back to Jobs", root_path