= render 'payments/march_madness'

.container
  .row
    .col-md-12
      %h1
        STEP 3 - Payment

      = render 'form'

      %h2 Job postings are free in March.

      / # = button_to "Publish", root_path, method: :get

      = link_to 'Back', payments_path
