* {
   font-size: 18px;
   line-height: 1.333;
   font-family: Roboto, helvetica, sans-serif
}

.pop {
  background-color: #8AD143;
  border-color: #8AD143;
  color: #ffffff;
}


.table.jobs {
  th.job, td.job {
    width: 18em;
  }
}

.line-through {
  display: inline;
  text-decoration: line-through;
}
.no-top-margin {
  margin-top: 0;
}
.employers {
  .btn {
    margin-top: 0;
  }
}
.steps {
  h3 {
    color: #8AD143;
  }
}

.job-description {
  p {
    line-height: 1.333em;
  }
  h1, h2, h3, h4 {
    margin-top: 1.5em;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1em;
    font-weight: 700;
  }
  h3 {
    font-size: 1em;
    font-weight: 700;
  }
}