* {
   line-height: 1.333;
   font-family: Roboto, helvetica, sans-serif;
}


@media (min-width: 1250px) {
    .container{
        max-width: 1230px;
    }
}

body {
  font-size: 16px;
  background:  rgb(245, 248, 250);
}

.navbar { border-radius: 0; }

.title {
  color: #ffffff;
  line-height: 2em;
  font-size: 2em;
}

.navbar-brand {
  a {
  color: #ffffff;
  }
}

.link-unstyled {
  color: inherit;
  text-decoration: inherit;
}

.link-unstyled:link {
  color: inherit;
  text-decoration: inherit;
}

.link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}


.card {
  .card-header h5 {
  margin-bottom: 0;
  }
}

.pop {
  background-color: #8AD143;
  border-color: #8AD143;
  color: #ffffff;
}

.logo {

  font-size: 1.3em;
  display: inline;
  font-weight: 900;
  letter-spacing: 0.01625em;
}

.table.jobs {
  th.job, td.job {
    width: 18em;
  }
}

.skill-tags {
  line-height: 1.5em;
}


#error_explanation {
  padding: 0.5em;
  background-color: #f0f0f0;
  margin: 1em 0;
  h2 {
    color: red;
    font-size: 1em;
    font-weight: 700;
  }

  ul li {
    list-style: square;
  }
}

.line-through {
  display: inline;
  text-decoration: line-through;
}
.no-top-margin {
  margin-top: 0;
}
.employers {
  .btn {
    margin-top: 0;
  }
}
.steps {
  h3 {
    color: #8AD143;
  }
}

.job-description {
  p {
    line-height: 1.333em;
  }
  h1, h2, h3, h4 {
    margin-top: 1.5em;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1em;
    font-weight: 700;
  }
  h3 {
    font-size: 1em;
    font-weight: 700;
  }
}