* {
   font-size: 18px;
   line-height: 2;
   font-family: Ubuntu, helvetica, sans-serif
}

.pop {
  background-color: #3B5323;
  border-color: #3B5323;
  color: #ffffff;
}

h1 {
  text-transform: uppercase;
}