.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      = link_to "Virtual Developer Jobs", root_path, class: "navbar-brand"

      .btn.btn-default.navbar-btn.navbar-right.pop
        Post a Job