.navbar.navbar-dark.bg-primary
  .container
    %span
      .navbar-brand
        = link_to "VDJ", root_path, class: 'logo'
        = link_to "Virtual Developer Jobs", root_path, class: 'hidden-sm hidden-xs'
