.navbar.navbar-light
  = link_to "Virtual Developer Jobs", root_path, class: 'navbar-brand'
  %ul.nav.navbar-nav
    %li.nav-item= link_to "Developers", developers_path, class: 'nav-link'
    %li.nav-item= link_to "Employers", employers_path, class: 'nav-link'